.menuItemContainer{
    border-color: #fbcb09;
    background: #EEE;
    /* color: #c77405;  */
    border-color: transparent;
    margin-left: 1em;
}

.mainMenuIcon{
    margin-top:0em;
}

.menuTreeTD{
    margin-left: 2px;
    color: #f8f9f7;
}

.menuItemContainer td {
  cursor: pointer;
  position: relative;
  left: 3px;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  /* height: 1.6em; */
  border-radius: 4px;
}

.menuItemContainer td:hover{
    /* background: #22b72f;
    color: #f8f9f7; */
    /* background-color: #DDD; */
    left: .1em;
}








.ui-menu {
    width: 12.5em;
    padding:0.3em;
    position:relative;
    outline: 0 none;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu-list {
    position:static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border:none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width:98%;
    margin:1px 0;
}

.ui-menu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-parent {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;
    cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display:inline-block;
}

.ui-menu .ui-menuitem-text {
    float:left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    float:left;
    display:block;
    font-size:1em;
    margin:0 auto;
    padding:0.3em 3%;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display:none;
    width:12.5em;
    padding:0.3em;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;
}

.ui-menu .ui-menu-parent {
    position:relative;
}

/* Toggleable Menu */
.ui-menu.ui-menu-toggleable li.ui-widget-header { 
    position: relative; 
    min-height: 0; 
}

.ui-menu.ui-menu-toggleable li.ui-widget-header h3 { 
    padding-left: 2em;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header.ui-state-hover { 
    cursor: pointer; 
}
    
.ui-menu.ui-menu-toggleable li.ui-widget-header .ui-icon { 
    position: absolute; 
    left: .5em; 
    top: 50%; 
    margin-top: -8px; 
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e,
.ui-menu .ui-menu-parent .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
    float:right;
}

.ui-menubutton {
    padding:0;
    position: relative;
    display: inline-block;
}

.ui-menubutton .ui-button {
    margin:0;
}








/*arun*/
/* 
.ui-menu .ui-menuitem .ui-menuitem-link {
  color: #333333; }
.ui-menu .ui-menuitem .ui-menuitem-link:hover {
    border-color: #fbcb09;
    background: #fdf5ce;
    color: #c77405;
    border-color: transparent; 
}
    .ui-menu .ui-menuitem .ui-menuitem-link:hover a {
      color: #c77405; }
.ui-menu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  border-color: #fbcb09;
  background: #fdf5ce;
  color: #c77405;
  border-color: transparent; }
  .ui-menu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link a {
    color: #c77405; }

.ui-tabmenu .ui-tabmenu-nav li:not(.ui-state-active):hover {
  border-color: #fbcb09;
  background: #fdf5ce;
  color: #c77405; }
  .ui-tabmenu .ui-tabmenu-nav li:not(.ui-state-active):hover a {
    color: #c77405; }

.ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  border-color: #fbcb09;
  background: #fdf5ce;
  color: #c77405; }
  .ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover a {
    color: #c77405; }

.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover {
  border-color: #fbcb09;
  background: #fdf5ce;
  color: #c77405;
  border-color: #cccccc; }
  .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover a {
    color: #c77405; }
  .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover a {
    color: #c77405; }
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  color: #eb8f00; }
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
  color: #333333; }
  .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover {
    border-color: #fbcb09;
    background: #fdf5ce;
    color: #c77405;
    border-color: transparent; }
    .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover a {
      color: #c77405; } 
*/
